* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

/* Sezioni */

header{
    background-color: #4ea0ff; 
    background-image: url("../img/pattern.png");
    background-position: top;
    background-size: 500px;
    height: 150px;
    position:relative;
    text-align: center;
}

main {
    margin:  2% 10% 2% 10%;
    text-align: center;
}

footer {
    margin:  2% 10% 2% 10%;
    text-align: center;
}

/* Titoli */

h1 {
    font-size: 4rem;
    line-height: 4rem;
}

h2 {
    font-size: 1.6rem;
    color: #797979;
    line-height: 3rem;
}

h3 {  
    font-size: 1.7rem;
}

/* Logo del giornale */

#the-booleaner-logo {
    border-top: 10px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.autore {
    font-size: 2rem;
    color: #7f7f7f;
}

.nome-autore {
    color: #43b6e9;
}

.data{
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.article-img {
    height: 450px;
}

.article-text {
    font-size: 1.6rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
}

.ul-fix {
    padding-left: 25px;
}

.text-highlighted {
    background-color: yellow;
}

table {
    text-align: left;
    border: 0;
}

table, tr, td, th{
    padding: 0%;
    margin: 0%;
    border-collapse: collapse;
    border: none;
}

.short-table-column {
    width: 25%;
}

.long-table-column {
    width: 50%;
}

.blue-table-line{
    background-color: #b1e5f2;  
}

.container {
    position: relative;
    color: white;
    display: inline-block;
}

.img-text {
    position: absolute;
    top: 20px;
    left: 15px;
}
