* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

header{
    background-color: #4ea0ff; 
    background-image: url("../img/pattern.png");
    height: 120px;
    position:relative;
    background-position: top;
}

main {
    margin: 1%;
}

.the-booleaner-logo {
    width: 15%;
    position: absolute;
    bottom: 10px;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
}

.autore {
    font-size: 2rem;
    color: #7f7f7f;
}

.nome-autore {
    color: #43b6e9;
}

.data{
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.article-img {
    height: 560px
}

.article-text {
    font-size: 1.6rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-highlighted {
    background-color: yellow;
}